.collapse-button {
    display: block;
    width: 100%;
  }
  
.collapse-content.collapsed {
    display: none;
}

.buttonCollapsed {
    cursor: pointer;
    background-color: #F3F3f3;
    width: 20%;
    text-align: center;
    letter-spacing: 8px;
    height: 6vh;
    box-shadow: 4px 6px 4px 2px rgba(0,0,0,0.5);
    padding: 2vh;
    margin-left: 4vh;
    font-size: 2vh;
    margin-bottom: 1vh; 
}
.closeButton {
    @extend .buttonCollapsed;
    margin-top: 1vh;
    width: 6%;
    margin-right: 4vh;
    letter-spacing: 4px;
    font-size: 1vh;

    //? Styles CreateUser.
    &-user {
        @extend .closeButton;
        width: 52%;
        margin-left: 10vh;
        height: 4vh;
        h2 {margin-top: -1vh;}
    }
}

.wrapper-brand-form {
    height: auto;
    margin: 4vh;
    box-shadow: 2px 2px 8px 8px rgba(185, 185, 185, 0.274);
    width: 98%;
    padding: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    .createButton {
        height: 4vh;
        font-size: 1.4vh;
        margin-top: 2vh;
        box-shadow: 4px 6px 4px 2px rgba(0,0,0,0.5);
        width: 20vh;
    }
}

label {
    margin-top: 1vh;
    margin-left: 2vh;
    font-size: 1.8vh;
    font-weight: bold;
    display: block;
}

input {
    height: 3vh;
    margin: 2vh;
    font-size: 1.2vh;
    padding: 6px;
}

select {
    height: 3vh;
    margin: 2vh;
    font-size: 1.2vh;
    padding: 6px;
}

.suggestedText {
    float: right;
    font-size: 1.4vh;
    font-weight: bold;
    text-align: center;
    padding: 1vh;
    box-shadow: 2px 2px 8px 8px hsl(0, 74%, 53%);
    margin-right: 8vh;
}
