h1 {
    text-decoration: underline #e0be2c;
    margin-left: 2vh;
}

.addOrder-form {
    height: auto;
    margin: 4vh;
    box-shadow: 2px 2px 11px 8px rgba(211, 211, 211, 0.342);
    width: 98%;
    padding: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    label {
        text-decoration: underline #e0be2c;
        text-decoration-thickness: 3px;
    }

    p { margin-top: 1vh; }

    .createButton {
        cursor: pointer;
        font-weight: bold;
        height: 5vh;
        font-size: 1.4vh;
        margin-top: 3vh;
        margin-left: 4vh;
        padding-top: 1.4vh;
        border-radius: 5px;
        border: 2px solid #e0be2c;
        box-shadow: 4px 6px 4px 2px rgb(0 0 0 / 50%);
        width: 10vh;
        text-align: center;

        &-send {
            width: 12vh;
            height: 14vh;
            border: 2px solid #e0be2c;
            box-shadow: 4px 6px 4px 2px rgb(0 0 0 / 50%);
            margin-top: 3vh;
            margin-right: 3vh;
            margin-bottom: 3vh;
            font-size: 2vh;
        }

        &-delete {
            @extend .createButton;
            border: transparent;
            box-shadow: 1px 2px 4px 2px hsl(0, 74%, 53%);
            // margin-top: 0;
            margin: 1vh;
        }
    }
}

.invoice {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.orderElement {
    box-shadow: 2px 2px 8px 8px rgba(211, 211, 211, 0.342);
    margin: 3vh;
}

.orderElements {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    box-shadow: 2px 2px 8px 8px rgba(211, 211, 211, 0.342);
    margin: 3vh;
    padding: 2vh;
}
