.wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    align-items: center;

    .home-wrapper {
        display: flex;
        // flex-direction: column;
        width: 100%;
        gap: 1.5rem;
        padding: 21rem;
        align-items: center;
        justify-content: center;
    }

    .principal-button {
        height: 5vh;
        width: 30%;
        border: 2px solid black;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 2.4vh;
        font-weight: bold;

        &-create {
            @extend .principal-button;
            box-shadow: 34px 2px 8px 8px purple;
        }
    }

    .actions {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: right;
        background-color: rgba(211, 211, 211, 0.342);
        border-radius: 6%;
        padding: 1rem;
        gap: 1rem;
        
        &-buttons {
            width: 50%;
            color: #e0be2c;
            background-color: #666665;
            height: 6vh;
            padding: 1vh;
            // margin-top: 5vh;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 2.2vh;
            font-weight: bold;
        }
    }
}


.normalButton {
    height: 5vh;
    border: transparent;
    cursor: pointer;
    box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.5);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 2vh;
    font-weight: bold;
}

.create {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2rem;
    margin: 1.5rem;
    margin-top: 4vh;
    justify-content: space-around;
    box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.5);
    height: 8vh;
}

.addImage {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__none {
        display: none;
    }

    &__input {
        margin: 2vh;
        box-shadow: 3px 3px 5px 2px #e0be2c;
        // margin-left: auto;
        // margin-right: auto;
        cursor: pointer;
        padding: 1vh;
        transition: padding .5s;
    }
}

.materialsGroup {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    box-shadow: 2px 2px 8px 8px #e0be2c;
    margin: 6vh;
    padding: 2vh;
}

.principal-button:hover,
.normalButton:hover,
.home_actions-buttons:hover {
    box-shadow: 2px 2px 8px 8px #e0be2c;
}