.wrapper-material-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        width: 90%;
        margin: 1.5rem 3rem;
        padding: 2rem;
        border-radius: .4rem;
        box-shadow: 0px 0px 13px 4px rgba(185, 185, 185, 0.274);
        display: flex;
        flex-direction: column;
        align-items: center;

        .material {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-right: 1.5rem;
            width: 80%;

            .material-info {
                display: flex;
                flex-direction: column;
                align-self: flex-start;
                width: 40%;

                .info {
                    .invoice {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    p {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        span {
                            font-size: 0.9rem;
                        }
                    }

                    form {
                        display: flex;
                        flex-direction: column;
                        grid-gap: 0rem;
                        gap: 0rem;

                        p {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            span {
                                font-size: 0.9rem;
                            }

                            input {
                                height: auto;
                                margin: .5rem;
                            }
                        }
                    }
                }
            }

            .worker-info {
                display: flex;
                flex-direction: column;
                align-self: flex-start;
                width: 40%;

                .info {
                    p {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        span {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }

        .material-log {
            display: flex;
            flex-direction: column;
            width: 80%;
            justify-content: center;

            h2 {
                align-self: center;
                margin: 0.8rem;
            }

            .header {
                margin-bottom: 0.8rem;
                font-size: 0.8rem;
                display: grid;
                grid-template-columns: 10% 20% 20% 20% 30%;
                grid-auto-flow: column;

                div {
                    width: fit-content;
                    text-align: start;
                }
            }

            .body {
                .log {
                    cursor: pointer;
                    margin: .3rem 0;
                    display: grid;
                    grid-template-columns: 10% 20% 20% 20% 30%;
                    grid-auto-flow: column;
                    align-items: center;
                    padding: .4rem 0rem;
                    border: 2px solid transparent;
                    transition: all .3s linear;
                    font-size: 0.8rem;

                    p {
                        color: black;
                    }

                    &:hover {
                        border-radius: .4rem;
                        border-color: rgba(156, 156, 156, 0.322);
                        box-shadow: 0px 0px 13px 4px rgba(179, 179, 179, 0.281);
                    }
                }
            }
        }

        .paginacion {
            width: 70%;
            margin: 0 auto;
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            div {
                margin: 0 .6rem;
                text-decoration: none;
                padding: .4rem 1rem;
                border-radius: .3rem;
                color: black;
                border: 2px solid transparent;
                box-shadow: 0px 0px 13px 4px rgba(185, 185, 185, 0.274);
                transition: all .3s linear;

                &:hover {
                    border-color: rgba(121, 121, 121, 0.664);
                }
            }

            .active {
                font-weight: 700;
                border-color: rgba(121, 121, 121, 0.664);
                background-color: rgba(207, 207, 207, 0.308);

            }
        }
    }
}

.sowInvoice {
    @extend .action-button-materialDetails;
    margin-top: 1vh;
}