.materialsPadre{
    text-align: center;
    border-radius: .5rem;
    padding: 0.3rem;
    // box-shadow: 0px 0px 13px 4px rgba(240, 236, 36, 0.185);
    
    .materialTable{
        margin: 1vh;

        input{
            width: 70%;
            margin: 0 auto;
            margin-bottom: 2rem;
            padding: .3rem 1rem;
            outline: none;
            font-size: 1.1rem;
            border: 2px solid transparent;
            border-bottom-color: rgba(0, 0, 0, 0.199);
            transition: all .3s linear;

            &:focus{
                border-color: transparent;
                box-shadow: 0px 0px 13px 4px rgba(190, 190, 190, 0.322);
                border-color: rgba(0, 0, 0, 0.479);
            }
        }
        .header {
            margin-top: 1rem;
            font-style: italic;
            font-weight: bold;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 1rem;
            align-items: center;

            // Styles EditMaterial.
            &-edit {
                @extend .header;
                grid-template-columns: repeat(5, 1fr);
                width: 96%;
                font-size: 2.6vh;
            }
        }
        .searcher {
            font-style: italic;
            font-weight: bold;
            margin-top: 2rem;
            padding: 1vh;
            grid-template-columns: repeat(5, 1fr);
            display: grid;
            margin-bottom: 3rem;

            select {
                width: 18vh;
                font-size: 14px;
                height: auto;
                font-weight: bold;
                letter-spacing: 2px;
                border: 2px solid black;
                margin-left: 5vh;
            }

            option {
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 2px;
            }

            input {
                margin-top: 2vh;
                margin-left: 2vh;
            }

            // Styles EditMaterial.
            &-edit {
                @extend .searcher;
                grid-template-columns: repeat(3, 1fr);

                select {
                    margin-left: 6vh;
                }
            }
        }
        .content{
            display: grid;
            grid-template-columns:repeat(4, 1fr);
            gap: 1rem;
            align-items: center;
            padding: .8rem;
            cursor: pointer;
            border: 1px solid transparent;
            transition: all .3s linear;
            &:hover{
                box-shadow: 0px 0px 13px 4px rgba(156, 156, 156, 0.185) ;
                border-color: rgba(185, 184, 184, 0.507) ;   
            }
            
        }
    }

    .materialsList {
        display: flex;
        box-shadow: 0px 0px 13px 4px rgba(190, 190, 190, 0.322);
        background-color: transparent;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all .3s linear;
        margin: 1vh;
        
        &:hover{
            box-shadow: 4px 4px 13px 4px rgba(156, 156, 156, 0.185) ;
            border-color: hsla(0, 0%, 63%, 0.815) ;   
        }
        
        &__material {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            padding-top: 2vh;
            padding-bottom: 2vh;
            background-color: transparent;

             //? Styles EditMaterial.
            &-edit {
                @extend .materialsList__material;
                grid-template-columns: repeat(6, 1fr);
                justify-content: space-between;
                box-shadow: 0px 0px 13px 4px rgba(190, 190, 190, 0.322);
                border: 1px solid transparent;
                transition: all .3s linear;
                margin: 1vh;
                width: 99%;
                select { width: 24vh;}
            }

            .selectToEdit {
                margin-left: 5vh;
                width: 22vh;
                height: 5vh;
                font-size: 2vh;
            }

            &-show {
                @extend .materialsList__material-edit;
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }

    .pages {
        display: flex;
        justify-content: center;
        margin: 1vh;
        box-shadow: 4px 4px 13px 4px #e0be2c ;
        margin-top: 4vh;

        div {
            padding: 1vh;
            margin: 0 .6rem;
            text-decoration: none;
            padding: .4rem 1rem;
            border-radius: .3rem;
            color: black;
            border: 2px solid transparent;
            box-shadow: 0px 0px 13px 4px rgba(185, 185, 185, 0.274);
            transition: all .3s linear;

            &:hover {
                border-color: rgba(121, 121, 121, 0.664);
            }
        }

        .active {
            // @extend .pages_element;
            font-weight: 700;
            border-color: #e0be2c;
            // background-color: #e0be2c !important;
        }
    }
}

.off  {
    display: none;
}

.editButton {
    padding: 1vh;
    width: 11vh;
    font-size: 1.6vh;
    border: #e0be2c 4px solid;
}

.buttonCollapsed-edit {
    @extend .buttonCollapsed;
    width: 6rem !important;
    font-weight: bold;
    height: 7vh;
    letter-spacing: 5px !important;
    font-weight: bold;
}

.commentText {
    width: 66vh;

    &-edit {
        width: 50vh;
        margin-left: 6vh;
    }

    &-title {
        width: 58vh; 
    }
}

// Hi-res desktops - big window. 
@media (min-width: 1581px) {
    .buttonCollapsed-edit {
        height: 5vh;
        width: 14vh !important;
    }

    .selectToEdit {
        width: 12vh !important;
        height: 3vh !important;
        font-size: 1.5vh !important;
    }
   
}
